@import "variables.css";

#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

div.App {
  display: grid;
  grid-template-columns: 3fr 2fr 5fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header header protein-info"
    "input description protein-info"
    "aa-view aa-view protein-info";
  grid-gap: 2rem;
}

h1 {
  grid-area: header;
  margin: 0;
  padding: 0;
}

form.sequence-input {
  grid-area: input;
}

div.form-description-container {
  grid-area: description;
  background: var(--bg-dark-quaternary);
  border-radius: var(--border-radius);
  padding: 10px 24px 16px;
}

div.aa-view-container {
  grid-area: aa-view;
  background: var(--bg-dark-secondary);
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  text-align: center;
  display: flex;
  overflow: auto;
}

div.protein-info-container {
  grid-area: protein-info;
  background: var(--bg-dark-secondary);
  padding: var(--padding-medium);
  border-radius: var(--border-radius);
  text-align: center;
  display: flex;
  overflow: auto;
}