@import "../variables.css";

form.sequence-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10fr 2fr;
  grid-template-areas:
    "input input"
    "file submit";
  grid-gap: 1rem;
  place-items: center;
}

textarea.sequence-input-box {
  grid-area: input;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 18px;
  border-radius: var(--border-radius);
  padding: var(--padding-small);
}

input.sequence-input-file {
  grid-area: file;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  padding: var(--padding-small);
}

input.sequence-submit {
  grid-area: submit;
  width: 70%;
  height: 100%;
  border-radius: 0.6rem;
}